<div class="sidenav">
  <ul>
    <li>
      <a href="/machine-list">Machines</a>
      <ul>
        <li class="pl-5">
          <a href="/machine">Add new</a>

        </li>
      </ul>
    </li>
    <br>
    <br>
    <br>
    <li>
      <a href="/list">Maintenances</a>
      <ul>
        <li class="pl-5">
          <a href="/add">Add new</a>

        </li>
      </ul>
    </li>
  </ul>
</div>