<h1>Add</h1>

<a href="/list">Log Out</a>

<form action="/list" method="POST">
  <label for="">Machine</label>
  <input type="text" name="machine">
  <label for="">Date</label>
  <input type="date" name="date">
  <label for="">Synthesis</label>
  <input type="text" name="synthesis">
  <label for="">Other Technician</label>
  <input type="string" name="otherTechnician">
  <label for="">Description</label>
  <input type="string" name="description">
  <button type="submit">Submit</button>
</form>

<a href="/machine">Add New Machine</a>

<a href="/list">Cancel</a>