{{> header }}

<div style="display: flex; flex-direction:row; height: 100%">
  {{> sidenav }}

  <div class="main">
    <form class="form" action="/list" method="POST">
      <label for="">Machine</label><br>
      <select required name="machine" id="machine">
        <option value="">Choose a machine</option>
        {{#each machines}}
        <option value="{{this._id}}">{{this.machine}}</option>
        {{/each}}
      </select><br><br>
      <label for="">Date</label><br>
      <input type="date" name="date" required><br><br>
      <label for="">Synthesis</label><br>
      <input type="text" name="synthesis" maxlength="30" required><br><br>
      <label for="">Other Technician</label><br>
      <input type="string" name="otherTechnician"><br><br>
      <label for="">Description</label><br>
      <input type="string" name="description">
      <br>
      <br>
      <button class="btn btn-primary" type="submit">Submit</button>
      <br>
    </form>
    <br>
    <button class="btn btn-primary" type="button" onclick="location.href='/list'">Cancel</button>
  </div>
</div>