<h1>Add</h1>

<form action="/list">
  <button>Log out</button>
</form>

<form action="/list" method="POST">
  <label for="">Machine</label>
  <input type="text" name="machine">
  <label for="">Date</label>
  <input type="date" name="date">
  <label for="">Synthesis</label>
  <input type="text" name="synthesis">
  <label for="">Technician</label>
  <input type="string" name="technician">
  <label for="">Description</label>
  <input type="string" name="description">
  <label for="">PHOTO!!!</label>
  <input type="string" name="description">
  <button type="submit">Submit</button>
</form>

<form action="/newMachine">
  <button>Add New Machine</button>
</form>

<form action="/list">
  <button>Cancel</button>
</form>