<div class="container card-vertical-space h-100">
  <div class="card mx-auto" style="width: 24rem;">
    <img src="/images/large_boltwork.png" class="card-img-top" alt="boltwork_logo">
    <div class="card-body">
      <h3 class="card-title main-color text-center">Maintenance Records</h3>
      <p class="card-text">Welcome to <b>boltwork</b> maintenance record system.<br><br>Login to make changes or
        continue as guest.
      </p>
      <br>
      <br>
      <div class="text-center">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/list" class="btn btn-primary">Guest</a>
      </div>
    </div>
  </div>
</div>