<video autoplay muted loop id="myVideo">
  <source src="/images/luforma_machines.mp4" type="video/mp4">
</video>

<div class="my-text">
  <h1>Home</h1>
  <div>
    <a href="/list">Start</a>
  </div>
</div>