<h1>List</h1>

<a href="/login">Log In</a>

<a href="/signup">sign up</a>

<form action="/logout" method="POST" id="form">
  <button type="submit">Log Out</button>
</form>

<a href="/add">Add New</a>

<br>
<br>
<br>

<a href="">All</a>
<a href="">Machine</a>
<a href="">Date</a>

<br>
<br>
<br>
  


{{#each logs}}
<a href="/details/{{this._id}}">{{this.machine.machine}}  {{dateFormat this.date "DD/MM/YYYY"}}  {{this.synthesis}}</a>
<br>
{{/each}}