<h1>List</h1>

<a href="/login">Log In</a>

<a href="/signup">sign up</a>

<a href="/list">Log Out</a>

<a href="/add">Add New</a>

{{#each logs}}
<a href="/list/{{this._id}}">{{this.machine}}</a>
{{/each}}