<h1>List</h1>

<a href="/login">Log In</a>

<a href="/signup">sign up</a>

<form action="/logout" method="POST" id="form">
  <button type="submit">Log Out</button>
</form>

<a href="/add">Add New</a>

<br>

{{#each logs}}
<a href="/details/{{this._id}}">{{this.machine}}  {{this.date}}  {{this.synthesis}}</a>
<br>
{{/each}}