<form action="/logout" method="POST" id="form">
  <button class="pull-right log-out" type="submit">Log Out</button>
</form>



<form action="/add" method="POST">
  <label for="machine">Machine Name</label><br>
  <input type="text" required name="machine"><br><br>
  <label for="model">Model</label><br>
  <input type="text" required name="model"><br><br>
  <label for="info">Description</label><br>
  <input type="string" required name="info">
  {{!-- <textarea rows="3" cols="50"></textarea><br><br> --}}
  <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
{{/if}}

<a href="/list">Cancel</a>


{{#each machines}}
<a href="">{{this.machine}} </a>
<br>
{{/each}}
