<a href="/list">Log Out</a>

<form action="/add" method="POST">
  <label for="">Machine Name</label>
  <input type="text" name="machine">
  <label for="">Model</label>
  <input type="text" name="model">
  <label for="">Description</label>
  <input type="string" name="info">
  <a href="/list">Submit</a>
</form>

<a href="/list">Cancel</a>
