html {
  height: 100%;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body::after {
  content: "";
  background: url("/images/Industrial-Maintenance.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: blur(2px);
}

a {
  color: #00b7ff;
}

.forms {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.forms > * {
  width: 250px;
  margin: 0 auto 8px;
}

.forms:last-child {
  margin-bottom: 0;
}

.main-color {
  color: #1478bb;
  font-weight: 600;
  font-variant: small-caps;
}

.card-vertical-space {
  padding-top: 150px;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 100px);
  overflow-y: auto;
  width: 100%;
  padding: 24px;
}

header {
  box-shadow: 0px 5px 5px 0px rgba(0, 105, 217, 0.5);
}

.header-image {
  height: 100px;
}

.welcome-message {
  margin-right: 24px;
  font-weight: 700;
}

.sidenav {
  height: 100%;
  min-width: 228px;
  background-color: #1378BA;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #1378BA;
}

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidenav li a {
  display: block;
  color: #fff;
  padding: 16px 16px;
  text-decoration: none;
}

.sidenav li a:hover {
  background-color: #fff;
  color: #1378BA;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.card {
  height: fit-content;
}

.form-group label {
  font-weight: 700;
}

.weather {
  width: 8rem;
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 10;
}

.weather img {
  background-color: #8abad3;
}
