html {
  height: 100%;
  overflow-y: hidden; }

body {
  width: 100%;
  height: 100%;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

body::after {
  content: "";
  background: url("/images/Industrial-Maintenance.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: blur(2px); }

a {
  color: #00b7ff; }

.api {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 0px; }

.weather {
  margin-top: 50px; }

.form-group {
  width: 250px;
  margin-left: 505px; }

.error-message {
  margin-left: 535px;
  margin-bottom: 10px; }

.log-out {
  margin-top: -20px;
  margin-right: 10px;
  background-color: #6e2e6c;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px; }

.start {
  margin-top: 25%; }

.login {
  margin-right: 10px;
  background-color: #00b7ff;
  font-size: 16px;
  color: darkblue;
  text-decoration: none;
  padding: 0.7em 1.5em;
  border-radius: 8px; }

.signup {
  margin-right: 10px;
  background-color: #00b7ff;
  font-size: 16px;
  color: darkblue;
  text-decoration: none;
  padding: 0.7em 1.5em;
  border-radius: 8px; }

.login:hover {
  background-color: lightskyblue;
  text-decoration: none; }

.signup:hover {
  background-color: lightskyblue;
  text-decoration: none; }

.logout {
  margin-right: 10px;
  background-color: #00b7ff;
  font-size: 16px;
  color: darkblue;
  text-decoration: none;
  padding: 0.7em 1.5em;
  border-radius: 8px;
  border: none; }

.logout:hover {
  background-color: lightskyblue;
  text-decoration: none; }

.forms {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px;
  margin-left: 32%;
  margin-right: 32%; }

.forms input {
  width: 250px; }

.forms button {
  width: 250px; }

.th {
  padding-right: 40px; }

.td {
  padding-right: 40px;
  white-space: nowrap; }

.lm {
  padding-left: 20px; }

.st {
  padding-left: 15px; }

.ml {
  margin-left: 20px; }

.mh {
  padding-right: -10px; }

.mm {
  margin-left: 20px; }

.grid {
  font-size: 17px;
  padding-right: 10px;
  width: 450px; }

.list-forms {
  display: inline-block; }

.st {
  padding-left: 15px; }

.btn {
  background-color: #0069D9 !important; }

.ml {
  margin-left: 20px; }

.mh {
  padding-right: -10px; }

.mm {
  margin-left: 20px; }

.grid {
  font-size: 17px;
  padding-right: 10px;
  width: 450px; }

.list-forms {
  display: inline-block; }

.btns {
  margin-left: 50px;
  margin-top: 150px; }

.btns-1 {
  margin-top: 150px; }

.bt-ed {
  margin-left: 7px; }

.main {
  display: flex;
  flex-direction: row; }

.th {
  border-bottom: 1px solid #ddd; }

.list-forms {
  display: inline-block;
  padding-right: 10px; }

#wicon {
  height: 60px;
  margin-right: 17px; }

.main-color {
  color: #1478bb;
  font-weight: 600;
  font-variant: small-caps; }

.card-vertical-space {
  padding-top: 150px; }

.header-image {
  height: 100px; }

.main {
  height: calc(100% - 100px);
  overflow-y: auto;
  width: 100%;
  padding: 24px; }

.color-template {
  background-color: #0069D9;
  color: white; }

/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  min-width: 228px;
  /* Set the width of the sidebar */
  background-color: #0069D9;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px; }

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #27459A; }

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.margin-left {
  margin-left: 300px; }

header {
  box-shadow: 0px 5px 5px 0px rgba(0, 105, 217, 0.5); }

.sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.sidenav li a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none; }

/* Change the link color on hover */
.sidenav li a:hover {
  background-color: #fff;
  color: #0069D9; }

/*# sourceMappingURL=style.css.map */